body {
    font-family: 'Lato', sans-serif;
    color: #252525;
    overflow-x: hidden !important;
}

a,
button {
    text-decoration: none !important;
    outline: none !important;
}


/* ==========
   Pre Loader
   ========== */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.spinner {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*======================
    HELPER
========================*/

/* Bootstrap Modal FIX */
.modal-open {
    padding-right: 0px !important;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: #fff;
}

section#latest-scan {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.latest-scan-text {
    padding: 10px 20px;
    color: #fff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    box-shadow: none !important;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid #fff !important;
    color: #fff;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open > .dropdown-toggle.btn-outline-custom {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    box-shadow: none !important;
    color: #000;
}

.btn:hover,
.btn:focus,
.btn:active,
button:hover,
button:focus,
button:active {
    box-shadow: none !important;
    outline: none;
}

.btn-grey {
    color: #fff;
    background-color: grey;
    border: 2px solid grey;
}

.no-margin-padding {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.unbold-text,
.unbold-text th {
    font-weight: normal;
}

.white { color: #fff !important; }
.red { color: #dd5a43 !important; }
.green { color: #69aa46 !important; }
.blue { color: #296CA2 !important; }
.orange { color: #0099ff !important; }
.pink { color: #C6699F !important; }

.bg-red {
    background-color: #dd5a43 !important;
    color: #fff;
}
.bg-green {
    background-color: #69aa46 !important;
    color: #fff;
}
.bg-blue {
    background-color: #296CA2 !important;
    color: #fff;
}
.bg-orange {
    background-color: #0099ff !important;
    color: #fff;
}
.bg-pink {
    background-color: #C6699F !important;
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
.bg-light-gray {
    background-color: rgba(0, 0, 0, 0.05);
}
.bg-dark-gray {
    background-color: #212121;
}
.bg-dark-gray2 {
    background-color: #414141;
}
.bg-black {
    background-color: #000;
}

.table-striped .bg-white:hover,
.table-striped .bg-light-gray:hover {
    background-color: #ECECEC !important;
}

.icon-bigger-1 {
    font-size: 1.3em;
}

.hide {
    display: none !important;
}
.form-group.has-error #target {
    border: 1px solid #dd5a43 !important;
}

.help-block {
    color: #dd5a43 !important;
}

.modal-title {
    font-size: 1.4em;
}

.bigger {
    font-size: 1.4em;
}

.btn-white, .btn-white:focus {
    background-color: #fff;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5) !important;
}

.link-white {
    color: #fff;
}

.spaced > li {
    margin-top: 9px;
    margin-bottom: 9px;
}

.spaced > li > i {
    margin-right: 8px;
}

#upsell-alert .spaced + br {
    display: none;
}

#upsell-alert .btn {
    font-size: 13px;
    letter-spacing: 1px;
}

.height-vh-80 {
    height: 80vh;
}

#page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#usage_purpose::placeholder{
    color: #495057 !important;
}

.lowercase {
    text-transform: lowercase;
}

.upsell-benefits {
    margin-top: 16px;
}

.upsell-benefits thead {
    font-weight: 700;
}

.upsell-benefits td {
    padding: 4px 20px;
}

.upsell-benefits tr>td:nth-child(2),
.upsell-benefits tr>td:nth-child(3) {
    text-align: center;
}

.upsell-benefits tr>td:first-child {
    padding-left: 0;
}
.upsell-benefits tr>td:last-child {
    padding-right: 0;
}

.upsell-benefits tr {
    border-bottom: 1px solid #e4e4e4;
}

.center {
    text-align: center;
}

.title-center-narrow {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.presentation-benefit-title {
    font-size: 1.5rem;
}

.developed-for-item > img {
    height: 16px;
}

.developed-for-item > p {
    font-size: 1.1rem;
}

.label-red {
    padding: .2em .6em .3em;
    color: white;
    background: #d15b47;
    font-size: 13px;
}

@media (max-width: 768px) {
    .mobile-padding-0 {
        padding: 0 !important;
    }
}

.clearfix {
    clear: both;
}

.smaller {
    font-size: .85rem;
    font-weight: 500;
}

/* Magnific popup images: The images that pop up in a modal when clicking on them */
.magnific-popup-link {
	-webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
    box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
    cursor: pointer;
}

.magnific-popup-link:hover {
	-webkit-box-shadow: 0 6px 14px -5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 6px 14px -5px rgba(0,0,0,.5);
	box-shadow: 0 6px 14px -5px rgba(0,0,0,.5);
}

.magnific-image-modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.magnific-image-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 90%;
    max-height: 95%;
    height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.magnific-image-caption {
    margin: auto;
    display: block;
    width: auto;
    max-width: 90%;
    text-align: center;
    color: #ccc;
    font-size: 110%;
    padding: 10px 0;
}

/* Add Animation - Zoom in the Modal */
.magnific-image-content,
.magnific-image-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.magnific-close {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.magnific-close:hover,
.magnific-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.login-title,
.h3-title-size {
    font-size: 1.75rem;
}

.page-title-medium {
    font-size: 2rem;
}

#skip-content {
    position: fixed;
    top: -80px;
    left: 4px;
    background: #fff;
    color: #2C6AA0;
    border: 1px solid #2C6AA0;
    padding: 1em 1.5em;
    font-size: 18px;
    z-index: 9999999;
    transition: .4s all;
}

#skip-content:focus,
#skip-content:active {
    top: 4px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .magnific-image-content {
        max-width: 100%;
    }
}
/* END: magnific popup images */

/*==========================
    HOME
============================*/
#particles-js{
    background-color: 	#0A0B0B;
    height: 100vh;
}
#container{
 position:absolute;
 width: 100%;
 top: 40%;
}
#google-my{
    position: absolute;
    top: 25%;
}
.home-section  {
    position: relative;
    background-image: none; 
    background-color: #1d1d1d;
     background-size: cover;
    background-position: center;
}

.home-section.tool-hero {
    min-height: 100vh;
}

.tool-hero .home-bg-main {
    display: absolute;
    justify-content: center;
    padding-top: 14rem;
    min-height: 100vh;
}

.tool-hero .home-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google-hacking-options-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.google-hacking-options-column {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .google-hacking-options-container {
        flex-direction: column;
        align-items: center;
    }

    .google-hacking-options-column {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 250px;
    }
}
.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-title {
    color: #fff;
    font-size: 2.4em;
    letter-spacing: 1px;
    line-height: 50px;
    margin-bottom: 0;
    position: relative;
}

.home-sub-title,
.tool-sub-title {
    color: #C2C2C3;
    font-size: 1.2em;
    max-width: 640px;
    margin: 0 auto;
    line-height: 28px;
}

.input-scan {
    /* margin-top: 20px; */
    border-radius: 0;
    border: none;
    flex-direction: column;
}

.input-scan #target {
    /* border-radius: 0.25rem; */
    border-radius: 0;
    border: 1px solid #343A40;
    display: block;
    width: 100%;
}

.input-scan #target:focus {
    border: 1px solid #0099ff;
}

/* Tabs */
#tool-tabs-container {
    display: flex;
}

.tool-tab {
    /* Give equal size to every tab inside parent */
    flex: 1 0 0;
    -ms-flex: 1;

    /* Center text horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;


    border-bottom: none;
    height: inherit;
    padding: 4px 8px;

    background-color: rgba(0, 0, 0, 0.60);
    border-top: 1px solid rgba(0, 0, 0, 0.60);
    color: rgb(194, 194, 195);

    /* Text in tabs should not be selectable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
}

.tool-tab:hover {
    border-top: 1px solid #0099ff;
    color: #0099ff;
}

.tool-tab.tool-tab-active {
    border-top: 1px solid #0099ff;
    color: #0099ff;
    border-bottom: none;
}

.input-scan .form-control,
.btn-scan-options {
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (max-width: 768px) {
    /* Fixed height instead of vh on mobile, because of weird interaction with keyboard (mostly on android) */
    .input-group-btn .input-text,
    .home-sub-title {
		display: none;
	}

	.btn-scan-options {
		width: auto !important;
    }

    .tool-tab {
        font-size: 0.8em;
    }

    .home-title {
        font-size: 2em;
    }
}

.input-group-btn .dropdown-toggle::after {
  	font-size: 1.2em;
  	position: relative;
  	top: 1px;
	transform: rotate(0deg);
	transition: all .15s ease-in;
}

.input-group-btn.show .dropdown-toggle::after {
 	transform: rotate(180deg);
 	transition: all .15s ease-in;
}

.input-scan .btn-scan-options:active,
.input-scan .btn-scan-options:focus {
	border-bottom-right-radius: 0px;
}

.btn-scan-options {
    width: 180px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1 !important;
}

.btn-scan-options:hover,
.btn-scan-options:focus,
.btn-scan-options:active {
    border-top-left-radius: initial !important;
    border-bottom-left-radius: initial !important;
}

.btn-scan-options > i:first-child {
    margin-right: 6px;
}

.input-group-btn ul.dropdown-menu {
	width: 180px;
	margin-top: -0px;
	margin-bottom: -0px;
	border: none;
	border-radius: 0px;
}

ul.dropdown-menu li {
    padding: 4px 8px;
	font-size: 0.8em;
	cursor: pointer;
	color: #363636;
}

ul.dropdown-menu li > i:first-child {
	margin-right: 6px;
}

.dropdown-tool {
    position: relative;
}

.dropdown-tool-credits {
    position: absolute;
    right: 8px;
    color: white;
    padding: 2px;
    font-size: 0.9em;
    margin-top: -1px;
}

a.input-scan-btn {
	line-height: 14px;
}

div.input-scan-btn {
    margin-top: -1px;
}

#home div.input-scan-btn {
    margin-top: 56px;
}

@media (max-width: 768px) {
    #home div.input-scan-btn {
        margin-top: 16px;
    }

    .home-sub-title,
    .tool-sub-title {
        font-size: 1.1em;
    }
}


@media (min-width: 1200px) {
    a.input-scan-btn {
    	padding: 12px 32.5px;
    }
}

.input-group-btn .dropdown-menu {
	text-align: left;
}

.link-delimiter {
	font-size: 1.2em;
}

div.home-clients {
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
	justify-content: start;
	margin-left: 15px;
}

div.home-clients img {
    width: 75%;
}

.trusted-by {
    font-size: 18px;
	text-align: left;
}
@media (max-width: 768px) {
	.trusted-by {
		display: none !important;
	}

	div.home-clients {
		margin-left: 0;
		margin-right: 0;
	}
}

.clients-title {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    display: table-cell;
}

.clients-logo {
    width: 45px;
    height: 45px;
    display: table-cell;
}

.home-get-account {
    position: absolute;
    bottom: 50px;

    /* Center horizontally */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.counter-value {
    font-size: 2.5rem;
    margin-bottom: .5px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: center;
}

.video-placeholder {
    display: none;
}

@media (min-width: 1024px) {
    .video-placeholder {
        position: relative;
        display: flex;
        width: 100%;
        height: 16rem;
        max-width: 20rem;
        margin-left: 4rem;
        margin-right: 0rem;
        overflow: hidden;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
}

@media (min-width: 1280px) {
    .video-placeholder {
        max-width: 28rem;
        margin-right: -2rem;
    }
}

@media (min-width: 1440px) {
    .video-placeholder {
        margin-right: -6rem;
    }
}

.video-placeholder img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.placeholder-overlay.overlay-black + img {
    position: relative;
    object-fit: contain;
}

.video-placeholder-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    opacity: 0.75;
    cursor: pointer;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.video-placeholder-controls:hover {
    opacity: 1;
}

.video-placeholder-controls:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(118, 169, 250, 0.45);
    opacity: 1;
}

.placeholder-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
    pointer-events: none;
}

.placeholder-overlay.overlay-black {
    opacity: 1;
}

.youtube-embed {
    display: flex;
    height: 100vh;
    max-height: 16rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

@media (min-width: 640px) {
    .youtube-embed {
        max-height: 24rem;
    }
}

@media (min-width: 1024px) {
    .youtube-embed {
        max-height: 60%;
    }
}

.youtube-modal {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.youtube-modal-hidden {
    display: none;
    opacity: 0;
}

.youtube-modal-visible {
    display: block;
    opacity: 100;
}

.youtube-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.youtube-modal-overlay > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    background-color: #000000;
    opacity: 0.5;
}

.youtube-modal-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube-modal-panel-header {
    display: flex;
    justify-content: flex-end;
}

.youtube-modal-panel-header > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-width: 0;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.youtube-modal-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.youtube-modal-panel-content > .youtube-embed {
    margin-top: 1rem;
}

@media (min-width: 640px) {
    .youtube-modal-panel-content {
        max-width: 32rem;
    }
}

@media (min-width: 1024px) {
    .youtube-modal-panel-header > button {
        margin-right: -0.5rem;
    }

    .youtube-modal-panel-content {
        max-width: 56rem;
    }
}

/*============================
    STATISTICS
==============================*/

#statistics {
    height: 130px;
    padding-top: 12px;
}

/*=============================
  ABOUT
===============================*/

.about-section .about-image,
.about-section .about-detail {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    width: 50%;
}

.about-section .about-detail-desc {
    margin-left: -100px;
    padding: 50px 0 50px 100px;
    position: relative;
    z-index: 1;
}

.about-section .about-detail-desc > p {
    max-width: 550px;
    font-size: 15px;
    line-height: 25px;
}

.values-box {
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid #0099ff;
    padding: 12px;
    height: 100%;
}

.values-title {
    position: absolute;
    margin-top: -24px;
}

.values-text {
    align-self: center;
}

.about-bg-main {
    position: relative;
    background-size: cover;
    background-position: left;
}


/*============================
    TEAM
==============================*/

.team-testimonial p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 500;
    text-align: center;
    color: #161e2e;
}

.team-testimonial footer {
    margin-top: 2rem;
}

.team-testimonial-avatar > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 9999px;
}

.team-testimonial .team-testimonial-author {
    margin-top: 0.75rem;
    text-align: center;
}

.team-testimonial .team-testimonial-author > .author-name {
    font-size: 1rem;
    font-weight: 600;
    color: #161E2E;
}

.team-testimonial .team-testimonial-author svg {
    display: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    height: 1.25rem;
    width: 1.25rem;
    color: #0099ff;
}

.team-testimonial .team-testimonial-author > .author-job-title {
    font-size: 1rem;
    font-weight: 600;
    color: #6B7280;
}

.team-work {
    text-align: center;
    white-space: nowrap;
}

.team-story {
    font-size: 14px;
}

.team-linkedin {
	height: 16px;
	width: 16px;
	margin-right: 4px;
}

.team-linkedin-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.team-name {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.team-social li a {
    color: #cecece;
}

.team-social li a:hover {
    color: #0099ff;
}

.team-avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 9999px;
    object-fit: cover;
}

.team-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 5rem;
    gap: 5rem;
}

@media (min-width: 640px) {
    .team-grid {
        -ms-grid-columns: minmax(0, 1fr) 4rem minmax(0, 1fr);
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .team-testimonial footer > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .team-testimonial-avatar {
        flex-shrink: 0;
    }

    .team-testimonial footer .team-testimonial-author {
        margin-top: 0;
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }

    .team-testimonial .team-testimonial-author svg {
        display: block;
    }
}

@media (min-width: 1024px) {
    .team-grid {
        -ms-grid-columns: minmax(0, 1fr) 4rem minmax(0, 1fr) 4rem minmax(0, 1fr);
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}


/*============================
    TESTIMONIALS
==============================*/

/* New testimonials */
.testi-section-colors {
    background: linear-gradient(90deg, #0099ff 50%, #212121 50%);
    padding: 80px;
}

.testimonial-item {
    display: flex;
    flex-direction: row;
}

.testimonial-item-container {
    width: 200px;
}

.testimonial-image {
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.testimonial-content-wrapper {
    flex: 1;
    -ms-flex: 1;
    position: relative;
    top: 10px;
}

.testimonial-content-wrapper img {
    position: absolute;
    top: -15px;
}

p.testimonial-text{
    font-style: italic;
}

p.testmonial-author {
    font-weight: bold;
    margin-bottom: 0;
}

.section-grey.testi-section-grey {
    padding: 80px;
}

@media (max-width: 991px) {
    .testimonial-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center !important;
    }

    .testimonial-item-container {
        width: auto;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .testi-section-colors .testimonial-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .testi-section-colors {
        background: linear-gradient(180deg, #0099ff 50%, #212121 50%);
        padding: 0px;
    }
    .vanish{
        display: none;
    }
    .testimonial-image {
        max-width: 100%;
        float: none;
    }
    .testimonial-item {
        text-align: center!important;
        padding: 20px 0px;
    }
    .section-grey.testi-section-grey {
        padding: 80px 15px;
    }
    .testimonial-image {
        margin-right: 0;
    }
}

/*============================
    PRICING BOX
==============================*/

.pricing-box {
    border-radius: 5px;
}

.pricing-box::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    bottom: 0px;
    right: 15px;
}

.plan-price h2 {
    font-size: 40px;
    font-weight: 700;
}

.price-icon {
    font-size: 46px;
}

.price-highlight {
    padding: 4px 8px;
}


/*============================
    CONTACT
==============================*/

.form-custom .form-control {
    box-shadow: none !important;
    border-radius: 0;
    border-style: none none solid;
    border-width: 1px;
    margin-bottom: 20px;
    font-size: 16px;
}

@media (max-width: 1000px) {
    .announcement-banner {
        display: none;
    }
}

@media (max-width: 991px) {
    .tool-short-description,
    .announcement,
    .credits-cost-container {
        display: none;
    }

	#sample-report #img-sample-report {
		left: 0px;
	}
}

@media (min-width: 200px) and (max-width: 767px) {
    .vertical-content {
        display: inherit;
    }
    .home-title {
        font-size: 32px;
        line-height: 48px;
    }
    .text-left-sm {
        text-align: left !important;
    }
    .home-bg {
        padding: 110px 0px 0px 0px;
    }
    .screenshot .owl-carousel .owl-stage-outer {
        overflow: hidden !important;
    }
    .screenshot .screenshot-slider-outer {
        margin-top: 0;
    }
    .screenshot .screenshot-slider-outer .mockup {
        display: none;
    }
    .screenshot {
        padding-bottom: 100px;
    }
    .about-section .about-image,
    .about-section .about-detail {
        display: block;
        width: 100%;
    }
    .about-section .about-detail-desc {
        margin-left: 0;
        padding: 70px 15px;
    }
    .about-section .about-detail-desc > p {
        width: 100%;
    }

    #about-text div.about-image {
        position: static;
        top: 0px;
    }

    .sm-hide {
        display: none !important;
    }
}

@media (min-width: 1400px) {
    .about-section .about-detail-desc {
        padding: 100px 0 50px 100px;
    }
}

.about-section .about-image img {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .about-section .about-image,
    .about-section .about-detail {
        display: block;
        width: 100%;
    }
    .about-section .about-detail-desc {
        margin-left: 0;
        padding: 100px 20px 100px 20px;
    }
}


/*===========================
   Users
=============================*/
#users > .container {
    max-width: 1366px;
    padding: 30px;
}

.users-block {
    margin-bottom: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #E5E5E5;
    border-top: 3px solid #0099ff;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition-property: border-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.users-block:hover {
    border: 1px solid #D4D4D4;
    border-top: 3px solid #0099ff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.users-block .users-block--header {
    padding: 2rem 1rem 1rem 1rem;
}

.users-block .users-block--header:nth-child(2) {
    padding: 2rem 1rem 0 1rem;
}

.users-block .users-block--body {
    flex: 1 1 0%;
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    border-top: 2px solid #F5F5F5;
    background-color: #FAFAFA;
}

.users-block .fa.fa-check {
    margin-top: 0.125rem;
}

.users-icon {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.users-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #111827;
}

.users-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6B7280;
}

.users-text {
    display: inline-block;
}

#userPersonasReviews .carousel-indicators > li {
    background-color: #D4D4D8;
}

#userPersonasReviews .carousel-indicators > li.active {
    background-color: #71717A;
}


/*===========================
   Features
=============================*/
.features-img,
#img-sample-report {
	-webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
	box-shadow: 0 2px 10px -5px rgba(0,0,0,.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.features-img:hover,
#img-sample-report:hover {
	-webkit-box-shadow: 0 6px 14px -5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 6px 14px -5px rgba(0,0,0,.5);
	box-shadow: 0 6px 14px -5px rgba(0,0,0,.5);
}

.features-img {
    width: 100%;
    height: auto;
}

.features-icon {
    font-size: 2.4rem;
    display: block;
}


/*---------------
    Attack Surface Presentation
-----------------*/

.asv-graph > img.asv-graph-desktop {
    display: none;
}

.asv-hero {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.asv-hero > img.asv-hero-mobile {
    position: absolute;
    max-width: none;
    width: 88rem;
    margin-top: -10rem;
}

.asv-hero > img.asv-hero-desktop {
    display: none;
}

.asv-hero-content {
    margin-top: 16rem;
    padding-top: 0 !important;
}

@media (min-width: 576px) {
    .asv-hero > img.asv-hero-mobile {
        width: 102rem;
    }
    .asv-hero-content {
        margin-top: 20rem;
    }
}

@media (min-width: 768px) {
    .asv-graph > img.asv-graph-mobile {
        display: none;
    }
    .asv-graph > img.asv-graph-desktop {
        display: block;
    }
}

@media (min-width: 993px) {
    .asv-hero {
        position: absolute;
        width: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
    }
    .asv-hero > img.asv-hero-mobile {
        display: none;
    }
    .asv-hero > img.asv-hero-desktop {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: -16rem;
        height: 100%;
    }
    .asv-hero-content {
        margin-top: 0;
    }
}

@media (min-width: 1280px) {
    .asv-hero > img.asv-hero-desktop {
        margin-top: 4rem;
        margin-right: -8rem;
        width: 100%;
    }
}

/*---------------
    Use cases
-----------------*/

.uses-title {
	font-size: 26px;
	font-weight: 600;
	line-height: 36px;
}

.uses-content-box p {
	font-size: 15px;
}

.uses-col:hover {
	background-color: #2e3338;

	/*
	border: 1px solid #212121;
	border-radius: 3px;
	*/

	/*
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
	*/
}

.uses-boxed {
    transition: all 0.5s;
}

.uses-boxed .uses-icons i {
    font-size: 38px;
}

.uses-title-border {
    width: 50px;
    height: 1px;
}

.uses-boxed .uses-content h5 {
    font-size: 18px;
    font-weight: 600;
}

.uses-boxed .uses-content p {
    font-size: 15px;
}


/*===========================
   Prices
=============================*/
.prices-header {
    line-height: 30px;
}

.table-prices .fa {
    font-size: 120%;
}

.table-prices .btn {
    padding: 4px 25px;
    transition: all 0s;
}

#about-text p {
    line-height: 1.7em;
}

#about-text p.lead {
    font-size: 1.3em;
}

.about-dash {
    margin-left: -0.9em;
}

#about-text .about-image {
    position: absolute;
    top: 40px;
}

.address-line-2 {
    margin-left: 22px;
}

.about-counter p:first-child {
    font-size: 58px;
}

section#login {
    overflow: auto;
}

#login-card {
    color: #212121;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 40px 45px 40px 45px;
    -webkit-box-shadow: 0 4px 3px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 4px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 4px 3px 0 rgba(0,0,0,.5);

    overflow: auto;
    /* max-height: 410px; */
    -webkit-transition: all 0.25s ease-in; /* Safari */
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

#login-title {
    display: inline-block;
}

.resetpwd .myalert {
    width: 100%;
    position: relative;
}

.resetpwd .myalert .close {
    margin-top: -1px;
    right: 10px;
}

#signup-switch {
    padding: 0;
    cursor: pointer;
}

.text-signup {
    float: right;
    font-size: 0.9em;
    margin-top: 9px;
}

.forgot-password {
    font-size: 0.9em;
}

section#activate {
    overflow: auto;
    min-height: 80vh;
}

#activate-card {
    color: #212121;
    margin-bottom: 150px;
    padding: 40px 45px 40px 45px;
    -webkit-box-shadow: 0 4px 3px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 4px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 4px 3px 0 rgba(0,0,0,.5);

    overflow: auto;
    height: auto;
    max-height: 1000px;
    -webkit-transition: all 0.25s ease-in; /* Safari */
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.alert-full-width {
    margin-top: -15px;
    width: 100%;
}

.alert-full-width .close {
    position: static;
    float: right;
}

.activate-title {
    display: inline-block;
}

.input-icon {
    position: relative;
    display: block !important;
}

.input-icon > i {
    padding: 0 3px;
    z-index: 2;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 3px;
    line-height: 30px;
    display: inline-block;
    color: #909090;
    font-size: 16px;
}

.input-icon.input-icon-right > i {
    left: auto;
    right: 8px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 8px 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
}

.api-header {
    margin-bottom: 18px;
    font-size: 1.6em;
}

.api-operation {
    padding: 8px;
    margin-top: 60px;
    font-size: 1.2em;
}

#i_am_authorized {
    padding: 1px 0px 1px 0px;
}


#i_am_authorized input {
    vertical-align: middle;
}

#i_am_authorized span {
    margin-top: -16px;
}

#tool-form,
#home .input-scan {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 0.25rem;
}

/*
#i_am_authorized input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -4px;
}

#i_am_authorized label {
  display: inline-block;
  padding-left: 18px;
  text-indent: -15px;
}
*/

.register-tos-container {
    flex-wrap: wrap-reverse;
}


/*===========================
   FAQ
=============================*/

.faq-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px 40px;
    grid-auto-flow: dense;
    padding: 15px 15px;
}

.faq-heading {
    padding-left: 15px;
    padding-top: 15px;
}

.pricing-faq-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    grid-auto-flow: dense;
    padding: 15px 30px;
}

.faq-question p, .faq-question h3 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .faq-list,
    .pricing-faq-list {
        grid-template-columns: 1fr;
    }
}


/*===========================
   JOBS
=============================*/

.jobs-teaser-icons {
    font-size: 50px;
    margin-bottom: 20px;
}

div.btn-join-team {
	padding: 15px 30px;
	font-size: 1.1em;
}

input[type="checkbox"].help-block {
    outline:1px solid red;
    outline-offset: -2px;
}

.display-table-row {
    display: table-row;
}

/*===========================
   SPINNER
=============================*/
#scan-button {
    width: 132px;
    height: 42px;
}

.lds {
  margin: 0 auto;
  width: 50px;
  height: 16px;
  text-align: center;
  font-size: 10px;
}

.lds > div {
  background-color: #fff;
  height: 100%;
  width: 3px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.lds .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.lds .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.lds .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.lds .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*============================
    Advanced Reporting
==============================*/

.text-bold{
    font-weight: 800;
}

.text-semibold {
    font-weight: 700;
}

.hero {
    background: #343a40;
    position: relative;
    min-height: 500px;
}

.hero-content{
    padding-top: 50px;
}

.hero-image img{
    position: absolute;
    right: -60px;
    top: -33px;
}

.hero h1{
    color: white;
    font-weight: 800;
    font-size: 42px;
    margin: 20px 0px 20px 0px;
}

.hero a {
    color: #0099ff;
}

.hero a:hover {
    color: #0651c9;
}

.hero p{
    color: white;
}

.section-white,
.section-grey,
.section-dark{
    padding: 75px 0px 75px 0px;
}

.section-grey{
    background: #f2f2f2;
}

.section-dark{
    background: #343a40;
}

.section-dark h2,
.section-dark h4{
    color: white;
}

.section-title hr {
    width: 150px;
    background: black;
    margin-bottom: 50px;
}

ul.pentest-list  {
    padding: 0;
}

.pentest-list li {
    list-style-type: none;
    margin-bottom: 10px;
}

.pentest-list li img {
    margin-right: 10px;
}

h3.feature-title, p.feature-title{
    font-size: 20px;
    font-weight: 800;
}

a.orange-link{
    color: #0099ff;
    font-weight: 800;
    vertical-align: bottom;
}

.orange-link img{
    margin-right: 5px;
}

.vertical-middle{
    margin-top: auto;
    margin-bottom: auto;
}

.child-item {
    padding-left: 28px;
}

.feature-list-items li{
    margin-bottom: 0px;
}

.special-box {
    -webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.11);
    -moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.11);
    box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.11);
    padding: 20px 0px 20px 20px;
    margin-bottom: 1em;
}

.special-box p {
    margin-bottom: -15px;
}

.special-box img{
    float: left;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.link-black-highlight {
    color: #333;
}

.section-wide-cta {
    color: #fff;
}

.wide-cta-title {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
}

.wide-cta-subtitle {
    font-size: 24px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .wide-cta-title {
        font-size: 26px;
        margin-bottom: 24px;
    }
    .wide-cta-subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .section-wide-cta .btn {
        font-size: 11px;
    }
}


@media (max-width: 576px) {
    .vanish{
        display: none;
    }

    section img{
        max-width: 100%;
    }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ==========
   Colors
   ========== */


#topnav .has-submenu.active .submenu li.active > a,
#navigation li.active a,
.text-custom {
    color: #0099ff !important;
}
a {
    color: #337ab7;
}
a:hover {
    color: #0099ff;
}


a.link-orange {
    color: #0099ff;
}


a.link-orange:hover {
    color: #0651c9;
}

a.input-scan-btn,
a.input-scan-btn:focus {
    background-color: #0099ff !important;
    border-color: #0099ff !important;
}

a.input-scan-btn:hover {
    background-color: #0651c9 !important;
    border-color: #0651c9 !important;
}

.btn-login {
    color: #0099ff !important;
}

.btn-login:hover {
    color: #0651c9 !important;
}

.btn-scan-options {
    color: #868e96;
    background-color: #fff !important;
    border-color: #fff !important;
}

.bg-light-custom {
    background-color: #f0f2f4;
}

.bg-dark-custom {
    background-color: #212121;
    color: #fff;
}

.bg-dark-custom li > a {
    color: #cccccc;
}

.bg-dark-custom li > a:hover,
a.copyright-alt:hover {
    opacity: 1;
    color: #0099ff;
}

.bg-overlay-light {
    background-color: rgba(0, 0, 0, 0.25);
}
.bg-overlay-medium {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-overlay-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.bg-dark {
    color: #fff;
}

.p-lead {
    font-size: 1.2rem;
}

.text-muted {
    color: #525151 !important;
}

.text-muted-white {
    color: #cccccc !important;
}

a.white-link {
    color: #fff;
}

.users-icon,
.features-icon {
    color: #0099ff;
}

a.white-link:hover,
.sample-link > a:hover,
a.custom-link {
    color: #0099ff;
}

a.custom-link:hover {
    color: #0651c9;
}

.custom-dropdown {
    background-color: #343A40;
}

.custom-dropdown a {
    color: #fff;
}

.custom-dropdown a:hover,
.custom-dropdown a:active,
.custom-dropdown a:focus {
    color: #0099ff;
}

.input-scan .form-control {
    border-color: #fff;
    border-right-color: rgba(0,0,0,.15);
}

.input-scan ul.dropdown-menu li:hover {
    background-color: #0099ff;
}

#topnav .has-submenu.active .menu-arrow,.form-custom .form-control:focus{
    border-color: #0099ff !important;
}

#topnav .navbar-toggle.open span:hover
.bg-custom,.btn-custom,.bg-highlight {
    background-color: #0099ff !important;
}

.dropdown-tool-credits {
    background-color: #0099ff;
}
ul.dropdown-menu li:hover .dropdown-tool-credits {
    background-color: #2C6AA0;
}

.pricing-box::before {
    background: linear-gradient(315deg, #f8f9fa 45%, #cac8c8 50%, #2C6AA0  56%);
}

.users-box .users-icons,.btn-custom{
    border: 2px solid #0099ff !important;
}

.users-lead {
    border-left: 2px solid #0099ff;
}

.spinner {
    border-top: 5px solid rgba(208,146,94, 0.2);
    border-right: 5px solid rgba(208,146,94, 0.2);
    border-bottom: 5px solid rgba(208,146,94, 0.2);
    border-left: 5px solid #2C6AA0;
}

#statistics,
.bg-dark h6,
.copyright-alt {
    
    color: #fff;
}

.uses-title-border,
.details-border,
.features-border {
    background-color: #0099ff;
}

.label-credits {
    border-color: #2c6AA0;
   
}

.uses-icons,
.details-graphic,
.link-delimiter {
    color: #0099ff;
}

.underlined {
    padding-bottom: 4px;
    border-bottom: 2px solid #0099ff;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212121;
    border-color: #32383e;
}

.table-prices .upper-heading {
    -webkit-box-shadow: inset 0px 0px 0px 1px #0099ff;
    -moz-box-shadow: inset 0px 0px 0px 1px #0099ff;
    box-shadow: inset 0px 0px 0px 1px #0099ff;
}

.api-operation {
    background-color: #296CA2;
    color: #fff;
}

.border-highlight-left {
    border-left: 3px solid #0099ff;
    padding-left: 20px;
}

#topnav .menu-extras > .menu-item > #menu-tools-mobile > li > a:hover,
#topnav .menu-extras > .menu-item > #menu-tools-mobile > li > a:active,
#topnav .menu-extras > .menu-item > #menu-tools-mobile > li > a:focus {
    background-color: #212121 !important;
}

#topnav .menu-extras > .menu-item > #menu-tools-mobile li.dropped > a,
#topnav .menu-extras > .menu-item > #menu-tools-mobile li:focus > a {
    color: #0099ff !important;
}

#topnav .menu-extras > .menu-item > #menu-tools-mobile li.dropped,
#topnav .menu-extras > .menu-item > #menu-tools-mobile li:focus {
    border: none;
    outline: none;
}

@media (min-width: 992px) {
    #topnav .navigation-menu > li:hover > .menu-arrow {
        border-color: #0099ff;
    }
    #topnav .navigation-menu > li:hover,
    #topnav .navigation-menu > li:focus {
        outline: none;
    }
}

@media (max-width: 991px) {
    #topnav .navigation-menu {
        background-color: #212121;
    }

    #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu > li.has-submenu.open > a,
    #topnav .menu-extras .menu-item .cart > a:hover,
    #topnav .menu-extras .menu-item .search > a:hover,
    #topnav .navigation-menu .submenu.open .has-submenu.open > a,
    #topnav .has-submenu.active a {
        background-color: #0099ff;
    }

    #topnav .has-submenu.active .submenu li.active > a,
    #navigation li.active a,
    .text-custom {
        color: #0099ff;
    }

    #topnav .has-submenu.active .submenu li.active > a:hover,
    #navigation li.active a:hover,
    #topnav .has-submenu.active .submenu li.active > a:focus,
    #navigation li.active a:focus,
    #topnav .has-submenu.active .submenu li.active > a:active,
    #navigation li.active a:active {
        color: #fff !important;
    }

}
